[Unit]
Description=voicecmd WebRTC echo-cancelled mic (standalone PipeWire instance)
After=pipewire.service pipewire-pulse.service
Requires=pipewire.service

[Service]
Type=simple
ExecStart=/usr/bin/pipewire -c %h/projects/voicecmd/data/echo-cancel.conf
Restart=always
RestartSec=3
SyslogIdentifier=voicecmd-echo-cancel

[Install]
WantedBy=default.target
